DB_CONNECTION="Server=localhost;Port=5432;User Id=docker;Password=docker;Database=docker"

TOKEN_KEY=""
TOKEN_ISSUER=""
TOKEN_EXPIRES_AT_IN_MINUTES=14400

ENCRYPT_KEY_SIZE=256
ENCRYPT_IV=
ENCRYPT_KEY=
