<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="${currentdir}/internal/nlog.log">
<time type="FastUTC"/>

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="newBody" value="${replace:inner=${aspnet-request-posted-body}:searchFor=(&quot;password&quot;\:&quot;.*?&quot;)+:replaceWith=&quot;password&quot;\:&quot;***&quot;:regex=true}" />

  <targets>
    <target
    	xsi:type="File"
    	name="file"
    	fileName="${currentdir}/logs/${shortdate}.log"
    	archiveFileName="${currentdir}/logs/archive/${shortdate}.log"
    	archiveNumbering="DateAndSequence"
      archiveAboveSize="5000000000"
    	maxArchiveFiles="7"
    >
      <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="20">
        <attribute name="ts" layout="${date:format=yyyy-MM-dd'T'HH\:mm\:ss.fffffffK}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="msg" layout="${message:raw=true}" />
        <attribute name="ex" encode="false" layout="${exception:format=@}" />
        <attribute name="environment" layout="${aspnet-environment}" />
        <attribute name="user" layout="${aspnet-user-identity}" />
        <attribute name="session_id" layout="${aspnet-sessionid}" />
        <attribute name="instance_identifier" layout="${mdlc:item=instance_identifier}" />

        <!-- Dados de HTTP Request. -->
        <attribute name="request" encode="false">
          <layout xsi:type="JsonLayout" renderEmptyObject="false" maxRecursionLimit="20">
            <attribute name="host" layout="${aspnet-request-host}" />
            <attribute name="ip" layout="${aspnet-request-ip}" />
            <attribute name="url" layout="${aspnet-request-url:includePort=true:includeQueryString=true}" />
            <attribute name="method" layout="${aspnet-request-method}" />
            <attribute name="headers" encode="false" layout="${aspnet-request-headers:Exclude=Authorization,Cookie:outputFormat=JSON}" />
            <attribute name="content_type" layout="${aspnet-request-contenttype}" />
            <attribute name="user_agent" layout="${aspnet-request-useragent}" />
            <attribute name="referrer" layout="${aspnet-request-referrer}" />
            <attribute name="query_string" encode="false" layout="${aspnet-request-querystring:outputFormat=JSON}" />
            <attribute name="body" encode="false" layout="${var:newBody}" />
          </layout>
        </attribute>

        <!-- Dados de HTTP Response. -->
        <attribute name="response" encode="false">
          <layout xsi:type="JsonLayout" renderEmptyObject="false" maxRecursionLimit="20">
            <attribute name="status_code" encode="false" layout="${mdlc:item=resp_status_code}" />
            <attribute name="cookies" encode="false" layout="${mdlc:item=resp_cookies}" />
            <attribute name="headers" encode="false" layout="${mdlc:item=resp_headers}" />
            <attribute name="body" encode="false" layout="${mdlc:item=resp_body}" />
          </layout>
        </attribute>
      </layout>
    </target>

    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <logger name="Abp.*" maxlevel="Debug" final="true" />
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" maxlevel="Debug" final="true" />
    <logger name="System.*" maxlevel="Debug" final="true" />
    <logger name="HsPrevent.*" maxlevel="Debug" final="true" />    
    <logger name="*" minlevel="Info" writeTo="file,console">
      <filters defaultAction="Log">
        <when condition="contains('${aspnet-Request-Url}','/File/UploadFile')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
